* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F5F6FA;
  color: #2b2b2b;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #2b2b2b;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

a:hover {
  color: black;
}

.fas {
  margin-right: .7rem;
}

header {
  margin: 0;
  padding: 1rem;
  background-color: white;
  width: 100%;
  top: 0;
  z-index: 90;
  -webkit-box-shadow: 1px 3px 16px rgba(0, 0, 0, 0.123);
          box-shadow: 1px 3px 16px rgba(0, 0, 0, 0.123);
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  margin: 0 1.4rem;
}

.giris-btn {
  margin-right: .4rem;
  margin-left: 0;
}

.kayit-btn {
  border: 1px solid blue;
  padding: .7rem 1.5rem;
  border-radius: 5px;
  color: blue;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.kayit-btn:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.section-1 {
  margin: 10rem 0;
}

.section-1 h1 {
  font-weight: 900;
  margin: 1.4rem 0;
}

.section-1 span {
  font-weight: 600;
  color: #2e2e7a;
}

.section-1 p {
  margin-bottom: 3rem;
}

.sisteme-git {
  background: -webkit-gradient(linear, left top, left bottom, from(blue), to(blue));
  background: linear-gradient(blue, blue);
  padding: 1rem 1.5rem;
  color: white;
  border-radius: 5px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  display: inline;
  margin-right: 10px;
}

.sisteme-git:hover {
  color: white;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.s-1-kayit {
  border: 1px solid blue;
  padding: 1rem 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 5px;
  color: blue;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.s-1-kayit:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  color: blue;
}

.s-1-btn-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.section-2 {
  margin: 10rem 0;
}

.section-2 .fas {
  color: blue;
  font-size: 3.5rem;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  margin-bottom: 2rem;
}

.section-2 h3 {
  margin: 1rem 0;
}

.box {
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  -webkit-box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.123);
          box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.123);
}

.box:hover {
  background-color: blue;
  color: white;
  border-radius: 20px;
}

.box:hover .fas {
  color: white;
}
/*# sourceMappingURL=style.css.map */